.faq-sez {
    padding-top: $padding-top-main;
    margin-top: $margin-top-main;

    .faq {
        margin-bottom: 70px;
        @include rispStyle(.2px,24px);

        h2 {
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            color: $faqs-p-color;

            a {
                color: $header-selected-color;
            }
        }
    }
}
