$header-padding: 24px 24px 0 24px;
$border-color: rgba(151,151,151,0.5);
$header-font-color: #5f6368;
$header-selected-color: #3367d6;
$header-nav-margin: 20px;

$padding-top-main: 99.11px;
$margin-top-main: 85px;
$faqs-title-color: #3c4043;
