$header-padding: 24px 24px 0 24px;
$border-color: rgba(151,151,151,0.5);
$header-font-color: #5f6368;
$header-selected-color: #3367d6;
$header-nav-margin: 15px;

$padding-top-main: 99.11px;
$margin-top-main: 90px;
$faqs-title-color: #3c4043;
$faqs-p-color: rgba(0,0,0,0.87);

$footer-padding: 10px 15px 10px 15px;
$footer-background-color: rgb(245, 245, 245);
$footer-color: rgba(61,61,61,.8);
